<!DOCTYPE html>

<html>
<head>
    <title>Ext.NET MVC Sample</title>    

    <link type="text/css" rel="stylesheet" href="http://speed.ext.net/www/intro/css/main.css" />
</head>
<body>
    @RenderBody()
</body>
</html>
